body {
  background-color: #e6e6c8; /* Very light olive background color */  margin-top: 50px;    /* Top margin */
  margin-right: 30px;  /* Right margin */
  margin-bottom: 50px; /* Bottom margin */
  margin-left: 40px;   /* Left margin */
  font-family: Tahoma, sans-serif; /* Change this to any font you like */
}

.homepage {
  background-color: lightgray; /* Change this to any color you like */
  margin-top: 50px;    /* Top margin */
  margin-right: 30px;  /* Right margin */
  margin-bottom: 50px; /* Bottom margin */
  margin-left: 40px;   /* Left margin */
  font-family: Tahoma, sans-serif; /* Change this to any font you like */
}



.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

h1 {
  font-size: 40px;
  padding: 20px; /* Same padding on all sides */
  color: #333; /* Change this to any color you like */
  font-family: 'Arial', sans-serif; /* Change this to any font you like */
}


.homepage-intro {
  font-size: 13px; /* Adjust the font size as needed */
  color: dimgray; /* Text color */
  padding: 10px; /* Increased padding for a more spacious look */
  font-family: 'Arial', sans-serif; /* Font style */
  border-radius: 35px; /* Rounded corners */
  width: 100%; /* Full width */
  max-width: 100%; /* Ensure it doesn't exceed container width */
  margin: 0 auto 20px; /* Center the paragraphs with a bottom margin */
  line-height: 1.1; /* Slightly more spacing between lines for readability */
}

.homepage-intro i {
  font-style: italic; /* Make text in <i> italic */
}

.homepage-intro br {
  margin-bottom: 1px; /* Increased space after <br> for better separation */
}


.image-container {
  display: flex;
  flex-direction: row; /* Place items in a row */
  justify-content: flex-end; /* Align items to the right */
  margin-right: -900px; /* Adjust the margin as needed */
  margin-top: -300px;
}

.image-item {
  margin-left: 40px; /* Space between images */
  text-align: center; /* Center text below images */
}

.mary-photo, .percy-photo {
  max-width: 250px; /* Control the size of the images */
  height: auto;
  border: 1px solid #ccc; /* Optional: Add a border */
  border-radius: 5px; /* Optional: Add rounded corners */
}

.image-caption {
  font-size: 18px; /* Adjust the font size as needed */
  color:black; /* Change this to any color you like */
  margin-top: 10px; /* Space between image and text */
}


.table-text {
  font-size: 20px; /* Change this to your desired font size */
  font-family: 'Arial', sans-serif; /* Change this to your desired font family */
}


.table-title {
  font-size: 30px; /* Adjust the font size as needed */
  font-weight: normal; /* Make the title bold */
  color: #333; /* Change the color as needed */
  text-align: center; /* Center align the title */
  margin-bottom: 20px; /* Add some space below the title */
  font-family: 'Arial', sans-serif; 
  margin-top: 500px; 
}

.reference-text {
  font-size: 18px; /* Change this to your desired font size */
  font-family: 'Arial', sans-serif; /* Change this to your desired font family */
}

/* Increase font size of navbar items */
.navbar .nav-link {
  font-size: 18px; /* Adjust this value as needed */
}

/* Optional: Change font size for dropdown items */
.navbar .dropdown-menu .dropdown-item {
  font-size: 18px; /* Adjust for dropdown items */
}
