/* Centralize text in the homepage-intro */
.homepage-intro {
  font-size: 20px; /* Adjust the font size as needed */
  color: black; /* Text color */
  padding: 0px; /* Adjust padding for spacing */
  font-family: 'Cambria', serif; /* Font style */
  border-radius: 0px; /* Rounded corners */
  width: 80%; /* Full width */
  max-width: 90%; /* Ensure it doesn't exceed container width */
  margin: 0 auto 20px; /* Center horizontally and add bottom margin */
  line-height: 1.5; /* Slightly more spacing between lines for readability */
  text-align: justify; /* Justify text for alignment */
}

/* Centralize images in the image-container */
.image-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  margin: 20px auto; /* Center horizontally with top and bottom spacing */
  width: 80%; /* Adjust to the container width */
}

/* Centralize the table and its title */
.table-title {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: normal; /* Keep the title weight */
  color: #333; /* Change the color as needed */
  text-align: center; /* Center align the title */
  margin-bottom: 20px; /* Add some space below the title */
  font-family: 'Cambria', serif;
  margin-top: 50px; /* Adjust this value to move the title as needed */
}

.table-text {
  font-size: 18px; /* Font size */
  font-family: 'Cambria', serif; /* Font family */
  width: 80%; /* Adjust to container width */
  table-layout: auto; /* Automatically adjust column widths */
  margin: 0 auto; /* Center the table horizontally */
  text-align: center; /* Center align table content */
}
